.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

.products--grid {
  display: flex;
  flex-direction: column;
  div {
    img {
      border-radius: 10px;
      width: 100%;
    }
    h2, p {
      margin: 0;
    }
  }
}

.message-error {
  background: red;
  color: white;
  opacity: 0;
  transition: all linear .5s;
  &.invalid {
    opacity: 1;
  }
}

.line-error {
  height: 0;
  border-bottom: 1px solid;
  &.invalid {
    border-color: red;
  }
  &.valid {
    border-color: green;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 40em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}